@using GridMvc.Html
@model IEnumerable<Blueapp.Models.ItemModel>

<link href="~/Content/bootstrap.css" rel="stylesheet" /> 
<script src="~/Scripts/jquery-3.0.0.min.js"></script> 
<link href="~/Content/Gridmvc.css" rel="stylesheet" /> 
<script src="~/Scripts/gridmvc.min.js"></script>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<body>
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(item => item.name).Titled(Html.DisplayNameFor(item => item.name).ToString()).Filterable(true).Sanitized(false).Encoded(false)
       .RenderValueAs(item => Html.ActionLink(item.name, "Detail", "Items", new { item.id}, null));
       columns.Add(item => item.reviewDate).Titled(Html.DisplayNameFor(item => item.reviewDate).ToString());
       columns.Add(item => item.completionStatus).Titled(Html.DisplayNameFor(item => item.completionStatus).ToString());
       columns.Add(item => item.itemType).Titled(Html.DisplayNameFor(item => item.itemType).ToString());

   }).WithPaging(3).Sortable(true)
    </div>
</body>